.home-page {
    // margin-top: 10rem;
    @include for-normal-layout {
        margin: 0 0 0 8.5rem;
    }
    // display: flex;
    gap: 1rem;
    .side-bar-wrapper {
        width: 64px;
    }
    .main-content {
        // margin: 64px 0 0 64px;
        & > * {
            // height: 100vh;
        }
    }
}

// Desktop
// .home-page {
//     margin-top: 10rem;
//     @include for-normal-layout {
//         margin: 0 0 0 8.5rem;
//     }
//     // display: flex;
//     gap: 1rem;
//     .side-bar-wrapper {
//         width: 64px;
//     }
//     .main-content {
//         // margin: 64px 0 0 64px;
//         & > * {
//             // height: 100vh;
//         }
//     }
// }
