* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: poppins, sans-serif;
    color: $main-text-clr;
}

body {
    background-color: $main-bg-clr;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
}

h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    font-family: semi-poppins;
}

h1 {
    font-size: 88px;
    line-height: 110px;
    font-family: semi-poppins;
}

h2 {
    font-size: 48.5px;
    line-height: 48.5px;
    font-weight: 600;
}

h3 {
    font-size: 24.5px;
    line-height: 24.5px;
    font-weight: 600;
}

p {
    font-size: 16px;
    line-height: 23.5px;
    font-family: light-poppins;
    letter-spacing: 0.075rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

// links
a {
    color: $sub-clr;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-text-clr;
    background-color: $main-bg-clr;
    padding: 0.5rem 2rem 0.7rem;
    border: 1px solid $main-text-clr;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}
