.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.markup-txt {
    color: $primary-clr;
    text-transform: capitalize;
}

.sub-txt {
    color: $sub-clr;
    text-transform: capitalize;
}
