section.about {
    min-height: 85vh;

    .about-wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        @include for-normal-layout {
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
        }
    }
    h2 {
        margin-bottom: 3rem;
    }

    .about-desc-container {
        display: flex;
        flex-direction: column;
        flex-basis: 58%;
    }
    .about-img-container {
        padding-right: 2rem;
    }
    img {
        border-radius: 50%;
    }
    p {
        margin-bottom: 1rem;
    }
    .custom-btn {
        width: 100%;
    }
    .flat-button {
        max-width: 13.75rem;
        height: 3.125rem;
        line-height: 3.125rem;
        @media (min-width: 1100px) {
            margin-top: -3.125rem;
        }
    }
}
