// .app-header {
//     left: 0;
//     position: fixed;
//     top: 0;
//     width: 100%;
//     z-index: 10;
//     &.active {
//         backdrop-filter: blur(10px);
//         background: hsla(0, 0%, 100%, 0.15);
//     }
//     .layout-wrapper {
//         display: flex;
//         align-items: center;
//         padding: 1.2rem 3rem;
//     }

//     .logo-container {
//         display: flex;
//     }

//     .app-nav {
//         margin-left: auto;
//     }

//     .links-list {
//         display: flex;
//         align-items: center;

//         .link {
//             box-shadow: -1px 0.5px 0 0 #282828;
//             // border-bottom: 1px solid #282828;
//             // border-bottom: 1px solid $primary-clr;

//             padding: 1rem 1.5rem;
//             transition: 0.4s;

//             &:hover,
//             .active {
//                 color: $primary-clr;
//             }
//         }
//         .link-wrapper:last-child .link {
//             box-shadow: 1px 0.5px 0 0 #282828;
//         }
//     }
// }

.app-header {
    left: 0;
    position: fixed;
    top: 0;
    // width: 100%;
    // transform: translateY(-45deg);
    // &.active {
    //     backdrop-filter: blur(10px);
    //     background: hsla(0, 0%, 100%, 0.15);
    // }
    width: 8.125rem;
    background-color: #181818;
    height: 100vh;
    right: auto;
    bottom: 0;
    display: flex;
    z-index: 11;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    .layout-wrapper,
    .logo-container,
    .app-nav,
    .links-list,
    .link-wrapper,
    .link {
        width: 100%;
    }
    .layout-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        // Consider using space between
        // justify-content: space-between;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    .app-nav {
        // margin-left: auto;
    }

    .links-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: 1px solid #282828;

        .link {
            display: block;
            text-align: center;
            padding: 1rem 1.5rem;
            border-bottom: 1px solid #282828;
            transition: 0.4s;
            font-family: 'regular-poppins';

            &:hover,
            .active {
                color: $primary-clr;
            }
        }
    }
    .sidebar-icons {
        margin-top: auto;
        display: flex;
        width: 100%;
    }

    .sidebox {
        width: 100%;
        height: 58px;

        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #282828;
        border-right: 1px solid #282828;

        font-size: 1.3rem;
        cursor: pointer;
        &:hover {
            color: #a9a9a9;
        }
    }
}
