.app-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    background: #181818;

    @include for-normal-layout {
        display: flex;
        width: 8.125rem;
        height: 100vh;
    }

    .main-screen {
        position: fixed;
        background: rgba(18, 18, 18, 0.95);
        inset: 0;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.6s;
        pointer-events: none;

        .app.menu-open & {
            pointer-events: auto;
            opacity: 1;
        }

        @include for-normal-layout {
            display: none;
            position: static;
        }
    }

    .menu-toggle-btn {
        background: $main-bg-clr;
        color: inherit;
        font-size: 1.5em;
        padding: 0.15rem 0.6rem 0.375rem 0.6rem;
        border: none;
        background: #181818;
        margin-left: auto;
        z-index: 6;
        @include for-normal-layout {
            display: none;
        }
    }
    .layout-wrapper,
    .logo-container,
    .links-list,
    .link-wrapper,
    .link {
        @include for-normal-layout {
            width: 100%;
        }
    }
    .layout-wrapper {
        display: flex;
        align-items: center;
        @include for-normal-layout {
            display: block;
        }
        // ???
    }

    .logo-container {
        width: 4rem;
        z-index: 6;

        @include for-normal-layout {
            display: flex;
            height: 120px;
            width: auto;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            @include for-normal-layout {
                width: 100%;
                // remove justify-content ?
            }
        }
    }

    .app-nav {
        position: absolute;
        width: 100%;
        max-height: 0;
        transform: translateY(100%);
        bottom: 0;
        left: 0;
        @include for-normal-layout {
            position: static;
            // positions static ?
            transform: none;

            // max-height ?
            max-height: none;
        }
    }

    .links-list {
        width: 100%;
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;
        max-height: 0;
        transform: translateY(100%);
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: max-height 0.5s;
        @include for-normal-layout {
            border-top: 1px solid #282828;
            // display ?
            // max-height ?
            max-height: none;
            transform: none;
            position: static;
        }

        .app.menu-open & {
            // ???
            // box-shadow: -3px 0px 10px rgb(0 0 0 / 20%);
            max-height: 100vh;
            @include for-normal-layout {
                max-height: none;
            }
        }

        .link {
            display: block;
            text-align: center;
            padding: 1.5rem 0;
            border-bottom: 1px solid #282828;
            transition: 0.4s;
            font-family: 'regular-poppins';
            @include for-normal-layout {
                padding: 1rem 1.5rem;
            }
            &:first-child {
                border-top: 1px solid #282828;
            }
            @include for-normal-layout {
                // check if needed
                border-top: 0;
            }

            &:hover {
                color: $primary-clr;
            }
        }

        .sidebar-icons {
            display: flex;
            width: 100%;
            margin-top: auto;
            @include for-normal-layout {
                width: 130px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .sidebox {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            // check dimensions
            height: 58px;
            border-bottom: 1px solid #282828;
            border-right: 1px solid #282828;
            font-size: 1.3rem;
            cursor: pointer;
            @include for-normal-layout {
                height: 48px;
                // check if needed
                border-bottom: 0;
                border-top: 1px solid #282828;
                font-size: 1.4rem;
            }
            &:hover {
                color: #a9a9a9;
            }
        }
    }
}

// // Desktop
// .app-header {
//     display: flex;
//     position: fixed;
//     width: 8.125rem;
//     background-color: #181818;
//     height: 100vh;

//     .menu-toggle-btn {
//         display: none;
//     }

//     .layout-wrapper,
//     .logo-container,
//     .app-nav,
//     .links-list,
//     .link-wrapper,
//     .link {
//         width: 100%;
//     }

//     .logo-container {
//         display: flex;
//         height: 120px;
//         a {
//             width: 100%;
//             display: flex;
//             align-items: center;
//         }
//     }

//     .links-list {
//         border-top: 1px solid #282828;

//         .link {
//             display: block;
//             text-align: center;
//             padding: 1rem 1.5rem;
//             border-bottom: 1px solid #282828;
//             transition: 0.4s;
//             font-family: 'regular-poppins';

//             &:hover {
//                 color: $primary-clr;
//             }
//         }
//     }
//     .sidebar-icons {
//         display: flex;
//         width: 130px;
//         position: absolute;
//         bottom: 0;
//         left: 0;
//     }

//     .sidebox {
//         height: 48px;
//         width: 100%;

//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border-top: 1px solid #282828;
//         border-right: 1px solid #282828;

//         font-size: 1.4rem;
//         cursor: pointer;
//         &:hover {
//             color: #a9a9a9;
//         }
//     }
// }
