// COLOR PALETTE
$main-bg-clr: #1d1d1d;
$main-text-clr: #f5f5f5;
$primary-clr: #08fdd8;
$sub-clr: #8d8d8d;

// LAYOUT
$layoutPadding: 24px;

// LAYOUT BREAKPOINTS
$break-narrow: 1000px;
$break-normal: 1000px;
$break-wide: 1500px;

$section-spacing: 6rem;
